<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aplikasi Buku</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>APLIKASI BUKU</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/buku">Buku</a></li>
      </ul>
    </nav>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Deskripsi</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
