<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Selamat Datang di Aplikasi Perpustakaan</h1>
    <!-- navigasi bar -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/buku">Buku</a></li>
      </ul>
    </nav>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
      necessitatibus, expedita odit fugit exercitationem repudiandae eos!
      Assumenda sequi magni, asperiores amet fuga itaque ducimus incidunt
      consequatur perferendis quas. Possimus, ab. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Ipsa id harum sunt ipsam natus. Illum iure
      culpa voluptates magni quam assumenda soluta provident cumque quaerat vero
      fugiat laudantium dolores error architecto aperiam neque quis odit quod,
      deleniti est voluptatem. Vero.
    </p>
  </body>
</html>
